<!DOCTYPE html>
<html>
<head>
  <title>UMBER</title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', media: 'all'  %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
  
  <%= yield %>

  <% if content_for? :dom_ready %>
    <script>
      $(function() { <%= yield :dom_ready %> });
    </script>
  <% end %>
</body>
</html>